<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.orionshoppingmall">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.CustomTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="geo47.6,-122.3" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Pop1">
        </activity>
        <activity android:name=".Pop2">
        </activity>
        <activity android:name=".Pop3">
        </activity>
        <activity android:name=".Pop4">
        </activity>
        <activity android:name=".Pop5">
        </activity>
        <activity android:name=".Pop6">
        </activity>
        <activity android:name=".Pop7">
        </activity>
        <activity android:name=".Pop8">
        </activity>
    </application>

</manifest>